{{ define "requests" }}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Requests</h1>
</div>

<!-- Content Row -->
<div class="row">
    <div class="card border border-grey shadow shadow-sm" style="width: 70vw;">
        <div id="table" style="width: 69.85vw; height: 50vh; overflow: hidden;" align="center" class="rounded card-img-top">
            <!-- Table goes here -->
        </div>
    </div>
</div>

{{ end }}
